nav img{
    width: 8%;
    border-radius: 50%;
    height: 10%;
}

.carousel-caption h5{
    border-radius: 50%;
    font-size: 30PX;
    color:plum
    
   
}
    






 







































































































































